<div id="playtv" class="page" style="display: block; background: transparent;">
    <div id="channel-label">
        <p id="loadinginfo"></p>
    </div>
</div>
<div id="content">
</div>
<div id="dialog" class="widget-region"></div>