<div class="page-title"></div>
<div id="header">
    <div class="logo-small topleft"></div>
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"></p>
    </div>
</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>
    <div id="pharvisit-notification" style="display: none"><p><br>{{i18n 'Your request for a Pharmacist call has been sent.'}}<br><br><span class="text-color-5">{{i18n 'Ask members of your care team if you have any questions.'}} </span></p></div>
    <div id="dischargemeds-notification" style="display: none"><p><br>{{i18n 'Your request for medication delivery has been received.'}} <br><br><span class="text-color-5">{{i18n 'Ask a member of your care team if you have any questions.'}}</span></p> </div>

</div>
<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
<div id="dialog" class="widget-region"></div>