* {
    font-family: Arial, "Bitstream Vera Sans", sans-serif;
    text-decoration: none;
    color: #ffffff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.screen {
    background: url(../images/bk_home.jpg) top left no-repeat;
    position: absolute;
    width: 1280px;
    height: 720px;
    padding: 0;
    margin: 0;
}

/* Default text attributes */
div, p, span, a {
    color: #FFFFFF;
    font-family: Arial, "Bitstream Vera Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    text-shadow: 2px 2px 2px hsla(0,0%,0%,0.40);
    margin: 0;
}

a {
    text-decoration: none;
    color: #F0F4F5;
}

a:focus {
    outline: none;
}

a.active {
    background-color: rgba(33,124,50,1.00);
}

.btn {
    display: inline-block;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.50);
    color: rgba(252, 252, 252, 1.00);
    background-color: #808B92;
    border-radius: 6px;
    box-shadow: 6px 4px 6px rgba(51, 51, 51, 0.50);
    -webkit-box-shadow: 6px 4px 6px rgba(51, 51, 51, 0.50);
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    padding: 6px 10px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.btn-lg {
    font-size: 35px;
    padding: 12px 12px;
}

.btn-md {
    font-size: 30px;
    padding: 6px 10px;
}

.btn-sm {
    font-size: 25px;
    padding: 4px 8px;
}

.btn-xs {
    font-size: 20px;
    font-weight: normal;
    padding: 4px 8px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 5px;
}

.btn.active {
    background-color: #1D6C2C;
}

/* logo */
div.logo, div.logo-large {
    background: url(../images/logo_large.png) top left no-repeat;
    width: 215px;
    height: 50px;
    /*width: 336px;
    height: 56px;*/
    display: block;
    float: left;
    margin: 30px 0 0 64px;
    /*margin: 20px 0 0 30px;*/
}

div.logo-small {
    background: url(../images/logo_small.png) top left no-repeat;
    width: 215px;
    height: 50px;
    /*height: 37px;*/
    display: block;
    float: left;
}

div.logo-tiny {
    background: url(../images/logo_small.png) top left no-repeat;
    width: 300px;
    height: 66px;
    display: block;
    float: left;
}

div.logo.topleft, div.logo-large.topleft {
    margin: 0px 0 0 0px;
}

div.logo-small.topleft {
    margin: 30px 0 0 64px;
}

div.logo-tiny.topleft {
    margin: 26px 0 0 60px;
    position: absolute;
}

div.logo-small.bottomright {
    margin: 616px 0 0 890px;
}

div.logo-small.topright {
    margin: 68px 0 0 890px;
}

div.page-title {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
}

/* Text */
div.text-color-2, p.text-color-2, span.text-color-2, a.text-color-2 {
    color: #FFFF92;
}

div.text-color-3, p.text-color-3, span.text-color-3, a.text-color-3 {
    color: #104969;
    text-shadow: 0px 0px;
}

div.text-color-4, p.text-color-4, span.text-color-4, a.text-color-4 {
    color: #000307;
    font-size: 30px;
    padding-left: 0px;
}

div.text-color-5, p.text-color-5, span.text-color-5, a.text-color-5 {
    color: #DCF5A8;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/* special shapes */

.arrow-left {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ffffff transparent transparent;
}

.arrow-right {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffffff;
}

