/* intro panel */

#intro {
	background: url(../images/video_simulation_hands.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
}

#langs {
	background: url(../images/bk_ed-popup.png) no-repeat;
	width: 1102px;
	height: 526px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	/*-webkit-box-shadow: 6px 6px 8px #313232;
	box-shadow: 6px 6px 8px #313232;*/
	left: 89px;
	top: 100px;
}
/*div.logo, div.logo-large {
    background: url(../images/logo_large.png) top left no-repeat;
    width: 336px;
    height: 56px;
    display: block;
    float: left;
	margin: 20px 0 0 30px;
}*/

div.logo-small-popup {
	background: url(../images/logo_small.png) top left no-repeat;
	width: 215px;
	height: 50px;
	display: block;
	position: absolute;
	/*float: left;*/
	left: 40px;
	top: 30px;
}

div.logo-small.topleft {
    margin: 130px 0 0 64px;
}

#intro #remote {
	background: url(../images/img_pillowspeaker.png) no-repeat;
	width: 250px;
	height: 483px;
	/*margin: 120px 0px 0px -60px;*/
	display: inline-block;
	position: absolute;
	left: 280px;
	top: 64px;

}
#intro #heading {
	width: 1000px;
	height: 80px;
	display: inline-block;
	position: absolute;
	left: 175px;
	top: 138px;
	text-align: center;
}
#intro #regtext {
	width: 460px;
	height: 483px;
	display: inline-block;
	position: absolute;
	left: 120px;
	top: 160px;

}
#intro #regtext p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}

#intro #regtext2 {
	width: 600px;
	height: 526px;
	display: inline-block;
	position: absolute;
	left: 617px;
	top: 160px;
}
#intro #regtext2 p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}
#intro #regtext p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

#intro #regtext p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}
	
#intro #instruction {
	width: 544px;
	height: 338px;
	display: inline-block;
	position: absolute;
	left: 600px;
	top: 180px;
	text-align: right;
}

#intro #instruction p {
	min-height: 30px;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: bold;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.50);
}


#intro #instruction p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	line-height:  32px;
}

#intro #instruction p.text2  {
	color: #DCF5A8;
	text-align: left;
	line-height:  32px;
}

#intro #instruction p.text2-sm  {
	color: rgba(246,242,115,1.00);
	text-align: left;
	font-size: 22px;
}
#intro #instruction  p.text3  {
	color: rgba(189,239,254,1.00);
	text-align: left;
}
#intro #instruction p.text4 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	font-size: 40px;
	line-height: 50px;
}
#intro #viewerlist {
	width: 380px;
	height: 338px;
	display: inline-block;
	position: absolute;
	left: 130px;
	top: 230px;
	text-align: right;
}
#intro #viewerlist span.checkbox {
	text-align: left;
	font-size: 40px;
	line-height: 50px;
	color: #F9FAFB;
	font-size: 36px;
	background-color: #217C32;
	padding-left: 8px;
	padding-right: 8px;
	border: 4px solid #568FBB;
}
#intro #viewerlist p {
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: bold;
	text-shadow: 0px 0px;
	color: #11518F;
	font-size: 36px;
}

/*#intro #aboutus {
	background-repeat: no-repeat;
	background-position: top center no-repeat;
	width: 420px;
	height: 260px;
	margin: 17px 0px 0px 595px;
	position: absolute;
	left: 73px;
	top: 166px;
	background-color: rgba(101,183,36,1.00);
}

#intro #aboutus #image {
	background: url(../images/video_sim-welcomevideo_sm.jpg) top center no-repeat;
	width: 408px;
	height: 248px;
	margin: 4px 4px 4px 4px;
	position: absolute;
	top: 2px;
	left: 2px;
}
*/

#intro #buttons {
	width: 420px;
	height: 172px;
	font-size: 36px;
	margin: 400px 0px 0px 54px;
	display: inline-block;
	position: absolute;
	left: 60px;
	top: -106px;
}

#intro #buttons a {
	/*background: url(../images/intro_badge.png) top center no-repeat;*/
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 2px 2px 2px rgba(51,51,51,0.50);
	text-decoration: none;
	color: rgba(252,252,252,1.00);
	background-color: #A5BCCC;
	width: 420px;
	height: 50px;
	border-radius: 6px;
	box-shadow: 6px 4px 6px rgba(51,51,51,0.50);
	-webkit-box-shadow: 6px 4px 6px rgba(51,51,51,0.50);

}

#intro #buttons a.active {
	background-color: #217C32;	/*background: url(../images/intro_badge-hi.png) top center no-repeat;*/	
}

#intro #buttons a.myview.active {
	background: #217C32;
	font-size: 40px;
}

#intro #buttons a.mycare {
	width: 420px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}

#intro #buttons a.watchtv {
	width: 420px;
	height: 50px;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	float: right;
	position: relative;
}

#intro #buttons a.myview {
	background: url(../images/btn_intro2.png) top center no-repeat;
	width: 600px;
	height: 50px;
	font-size: 36px;
	line-height: 50px;
	margin: 14px 0px 0px 0px;
	float: left;
	position: relative;
}
